{% extends "shuup/front/base.jinja" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content_title %}
    <h1 class="page-header">
        <i class="fa fa-shield text-warning"></i>
        {{ title }}
    </h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-exclamation-triangle"></i>
                        {% trans "Security Notice" %}
                    </h3>
                </div>
                <div class="panel-body">
                    <p class="text-warning">
                        <strong>{% trans "Your password needs to be updated for security reasons." %}</strong>
                    </p>
                    <p>
                        {% trans "Your current password does not meet our updated security requirements. To continue using the system, you must create a new, stronger password." %}
                    </p>

                    <div class="alert alert-info">
                        <h4>{% trans "Password Requirements:" %}</h4>
                        <ul>
                            <li>{% trans "At least 8 characters long" %}</li>
                            <li>{% trans "Contains uppercase letters (A-Z)" %}</li>
                            <li>{% trans "Contains lowercase letters (a-z)" %}</li>
                            <li>{% trans "Contains numbers (0-9)" %}</li>
                            <li>{% trans "Contains special characters (!@#$%^&*)" %}</li>
                            <li>{% trans "Not similar to your username or email" %}</li>
                            <li>{% trans "Not a commonly used password" %}</li>
                        </ul>
                    </div>

                    <form method="post" class="form-horizontal">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        <div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
                            <label for="{{ form.new_password1.id_for_label }}" class="col-sm-3 control-label">
                                {{ form.new_password1.label }}
                            </label>
                            <div class="col-sm-9">
                                {{ form.new_password1|add_class:"form-control" }}
                                {% if form.new_password1.errors %}
                                    <span class="help-block">{{ form.new_password1.errors.0 }}</span>
                                {% endif %}
                                {% if form.new_password1.help_text %}
                                    <span class="help-block">{{ form.new_password1.help_text }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
                            <label for="{{ form.new_password2.id_for_label }}" class="col-sm-3 control-label">
                                {{ form.new_password2.label }}
                            </label>
                            <div class="col-sm-9">
                                {{ form.new_password2|add_class:"form-control" }}
                                {% if form.new_password2.errors %}
                                    <span class="help-block">{{ form.new_password2.errors.0 }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-warning btn-lg">
                                    <i class="fa fa-shield"></i>
                                    {% trans "Update Password" %}
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="alert alert-warning">
                        <p><strong>{% trans "Important:" %}</strong></p>
                        <ul>
                            <li>{% trans "You cannot access other parts of the system until you update your password" %}</li>
                            <li>{% trans "Your session will be secured after the password update" %}</li>
                            <li>{% trans "Choose a password you haven't used before" %}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <p>
                        <strong>{% trans "Need help?" %}</strong><br>
                        {% trans "Contact your system administrator if you continue to have problems updating your password." %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
$(document).ready(function() {
    // Add password strength indicator
    function checkPasswordStrength(password) {
        var strength = 0;
        var feedback = [];

        if (password.length >= 8) strength++;
        else feedback.push("{% trans 'At least 8 characters' %}");

        if (/[A-Z]/.test(password)) strength++;
        else feedback.push("{% trans 'Uppercase letter' %}");

        if (/[a-z]/.test(password)) strength++;
        else feedback.push("{% trans 'Lowercase letter' %}");

        if (/[0-9]/.test(password)) strength++;
        else feedback.push("{% trans 'Number' %}");

        if (/[!@#$%^&*(),.?":{}|<>]/.test(password)) strength++;
        else feedback.push("{% trans 'Special character' %}");

        return {strength: strength, feedback: feedback};
    }

    $('#{{ form.new_password1.id_for_label }}').on('keyup', function() {
        var password = $(this).val();
        var result = checkPasswordStrength(password);
        var $parent = $(this).closest('.form-group');

        // Remove existing strength indicators
        $parent.find('.password-strength').remove();

        if (password.length > 0) {
            var strengthClass = 'danger';
            var strengthText = '{% trans "Weak" %}';

            if (result.strength >= 4) {
                strengthClass = 'success';
                strengthText = '{% trans "Strong" %}';
            } else if (result.strength >= 3) {
                strengthClass = 'warning';
                strengthText = '{% trans "Medium" %}';
            }

            var $strength = $('<div class="password-strength alert alert-' + strengthClass + ' alert-sm">' +
                '<strong>{% trans "Strength" %}: ' + strengthText + '</strong><br>' +
                (result.feedback.length ? '{% trans "Missing" %}: ' + result.feedback.join(', ') : '{% trans "All requirements met!" %}') +
                '</div>');

            $parent.append($strength);
        }
    });
});
</script>
{% endblock %}
